In [56]:
#Reader for Suicide File
import pandas as pd


csv_path = "Master.csv"
suicide_df = pd.read_csv(csv_path, low_memory=False)
suicide_df
# updated column names
#suicide_df.columns = ['country', 'year', 'sex', 'age', 'suicides_no', 'population',
#       'suicides/100k_pop', 'country-year', 'HDI_for_year',
#       ' gdp_for_year_($) ', 'gdp_per_capita_($)', 'generation']

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [57]:
suicide_df.year.unique()

array([1987, 1988, 1989, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
       2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       1985, 1986, 1990, 1991, 2012, 2013, 2014, 2015, 2011, 2016],
      dtype=int64)

suicide_df.suicides_n.sum()

In [85]:
year1 = int(2015)
year2 = int(2016)
years = [year1, year2]
suicide_df2 = suicide_df[suicide_df['year'].isin(years)]
suicide_df2

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
576,Antigua and Barbuda,2015,female,55-74 years,1,6403,15.62,Antigua and Barbuda2015,NaN,"1,364,863,037",14853,Boomers
577,Antigua and Barbuda,2015,female,15-24 years,0,8561,0.00,Antigua and Barbuda2015,NaN,"1,364,863,037",14853,Millenials
578,Antigua and Barbuda,2015,female,25-34 years,0,7740,0.00,Antigua and Barbuda2015,NaN,"1,364,863,037",14853,Millenials
579,Antigua and Barbuda,2015,female,35-54 years,0,15323,0.00,Antigua and Barbuda2015,NaN,"1,364,863,037",14853,Generation X
580,Antigua and Barbuda,2015,female,5-14 years,0,8239,0.00,Antigua and Barbuda2015,NaN,"1,364,863,037",14853,Generation Z
...,...,...,...,...,...,...,...,...,...,...,...,...
27551,Uruguay,2015,female,25-34 years,23,232133,9.91,Uruguay2015,NaN,"53,274,304,222",16696,Millenials
27552,Uruguay,2015,female,35-54 years,38,440475,8.63,Uruguay2015,NaN,"53,274,304,222",16696,Generation X
27553,Uruguay,2015,female,15-24 years,17,255067,6.66,Uruguay2015,NaN,"53,274,304,222",16696,Millenials
27554,Uruguay,2015,male,5-14 years,3,252509,1.19,Uruguay2015,NaN,"53,274,304,222",16696,Generation Z
27555,Uruguay,2015,female,5-14 years,2,241598,0.83,Uruguay2015,NaN,"53,274,304,222",16696,Generation Z

In [86]:
suicide_df2 = suicide_df[suicide_df['year'] == int(2016)]
suicide_df2.suicides_no.sum()

15603

In [87]:
suicide_df

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
country,,,,,,
Armenia,20160,67,2400033,40.56,0.0,37880
Austria,20160,1201,7484629,183.23,0.0,469760
Croatia,20160,683,3567043,213.56,0.0,129050
Cyprus,20160,36,711344,47.15,0.0,250980
Czech Republic,20160,1318,8929942,161.76,0.0,195050
Grenada,20160,0,79012,0.00,0.0,108380
Hungary,20160,1761,8390370,241.34,0.0,134480
Iceland,20160,40,268773,138.07,0.0,647080
Lithuania,20160,822,2445296,361.72,0.0,157420
Mauritius,20160,98,992432,99.30,0.0,105700
Mongolia,20160,423,2167589,184.39,0.0,41450
Netherlands,20160,1886,14239554,127.39,0.0,481080
Qatar,20160,68,2213121,16.43,0.0,624840
Romania,20160,1953,16644905,116.33,0.0,100200
Sweden,20160,1130,8125852,138.84,0.0,555940
Thailand,20160,4117,53442001,77.32,0.0,67130

In [91]:
suicide_df2.country.unique()

array(['Armenia', 'Austria', 'Croatia', 'Cyprus', 'Czech Republic',
       'Grenada', 'Hungary', 'Iceland', 'Lithuania', 'Mauritius',
       'Mongolia', 'Netherlands', 'Qatar', 'Romania', 'Sweden',
       'Thailand'], dtype=object)