In [53]:
import matplotlib.pyplot as plt
import requests
import pandas as pd
from open_weather_key import api_key
import pprint as pprint
import time

In [54]:
import csv
final_filtered = pd.read_csv ('../Resources/mergedfinalfiltered.csv')
final_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 58 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country Name                      129 non-null    object
 1   Country Code                      129 non-null    object
 2   Indicator Name                    129 non-null    object
 3   Indicator Code                    129 non-null    object
 4   Total                             129 non-null    float64
 5   Max                               129 non-null    float64
 6   Min                               129 non-null    float64
 7   Avg                               129 non-null    float64
 8   2015                              129 non-null    float64
 9   Country_15                        129 non-null    object
 10  Region_15                         129 non-null    object
 11  Happiness Rank_15                 129 non-null    int64
 12  Happiness Score_15                129 non-null    float64
 13  Standard Error_15                 129 non-null    float64
 14  Economy (GDP per Capita)_15       129 non-null    float64
 15  Family_15                         129 non-null    float64
 16  Health (Life Expectancy)_15       129 non-null    float64
 17  Freedom_15                        129 non-null    float64
 18  Trust (Government Corruption)_15  129 non-null    float64
 19  Generosity_15                     129 non-null    float64
 20  Dystopia Residual_15              129 non-null    float64
 21  2016                              129 non-null    float64
 22  Country_16                        129 non-null    object
 23  Region_16                         129 non-null    object
 24  Happiness Rank_16                 129 non-null    int64
 25  Happiness Score_16                129 non-null    float64
 26  Lower Confidence Interval_16      129 non-null    float64
 27  Upper Confidence Interval_16      129 non-null    float64
 28  Economy (GDP per Capita)_16       129 non-null    float64
 29  Family_16                         129 non-null    float64
 30  Health (Life Expectancy)_16       129 non-null    float64
 31  Freedom_16                        129 non-null    float64
 32  Trust (Government Corruption)_16  129 non-null    float64
 33  Generosity_16                     129 non-null    float64
 34  Dystopia Residual_16              129 non-null    float64
 35  2017                              129 non-null    float64
 36  Country_17                        129 non-null    object
 37  Happiness.Rank_17                 129 non-null    int64
 38  Happiness.Score_17                129 non-null    float64
 39  Whisker.high_17                   129 non-null    float64
 40  Whisker.low_17                    129 non-null    float64
 41  Economy..GDP.per.Capita._17       129 non-null    float64
 42  Family_17                         129 non-null    float64
 43  Health..Life.Expectancy._17       129 non-null    float64
 44  Freedom_17                        129 non-null    float64
 45  Generosity_17                     129 non-null    float64
 46  Trust..Government.Corruption._17  129 non-null    float64
 47  Dystopia.Residual_17              129 non-null    float64
 48  2018                              129 non-null    float64
 49  Overall rank_18                   129 non-null    int64
 50  Country or region_18              129 non-null    object
 51  Score_18                          129 non-null    float64
 52  GDP per capita_18                 129 non-null    float64
 53  Social support_18                 129 non-null    float64
 54  Healthy life expectancy_18        129 non-null    float64
 55  Freedom to make life choices_18   129 non-null    float64
 56  Generosity_18                     129 non-null    float64
 57  Perceptions of corruption_18      128 non-null    float64
dtypes: float64(44), int64(4), object(10)
memory usage: 58.6+ KB

In [55]:
clean_for_weather = final_filtered.drop(final_filtered.columns[[2,3,13,14,15,16,17,18,19,20,22,23,24,26,27,29,
                                                                30,31,32,33,34,36,39,40,42,43,44,45,46,47,
                                                               50,52,53,54,55,56,57]], axis=1)
clean_for_weather

,Country Name,Country Code,Total,Max,Min,Avg,2015,Country_15,Region_15,Happiness Rank_15,...,2016,Happiness Score_16,Economy (GDP per Capita)_16,2017,Happiness.Rank_17,Happiness.Score_17,Economy..GDP.per.Capita._17,2018,Overall rank_18,Score_18
0,Afghanistan,AFG,89.2,5.0,3.9,4.46,4.0,Afghanistan,Southern Asia,153,...,4.0,3.360,0.38227,4.1,141,3.794,0.401477,4.1,145,3.632
1,Angola,AGO,146.2,8.8,6.0,7.31,6.5,Angola,Sub-Saharan Africa,137,...,6.2,3.866,0.84731,6.0,140,3.795,0.858428,6.0,142,3.795
2,Albania,ALB,117.5,8.2,4.3,5.88,4.8,Albania,Central and Eastern Europe,95,...,4.7,4.655,0.95530,4.7,109,4.644,0.996193,4.5,112,4.586
3,United Arab Emirates,ARE,151.4,8.6,5.6,7.57,6.5,United Arab Emirates,Middle East and Northern Africa,20,...,6.0,6.573,1.57352,5.6,21,6.648,1.626343,6.0,20,6.774
4,Argentina,ARG,177.8,10.3,8.3,8.89,8.3,Argentina,Latin America and Caribbean,30,...,8.3,6.650,1.15137,8.9,24,6.599,1.185295,9.2,29,6.388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,Uzbekistan,UZB,177.5,10.1,8.0,8.88,9.2,Uzbekistan,Central and Eastern Europe,44,...,9.1,5.987,0.73591,8.8,47,5.971,0.786441,8.6,44,6.096
125,Vietnam,VNM,138.8,7.7,6.1,6.94,7.7,Vietnam,Southeastern Asia,75,...,7.7,5.061,0.74037,7.7,94,5.074,0.788548,7.6,95,5.103
126,South Africa,ZAF,484.8,26.7,22.4,24.24,24.5,South Africa,Sub-Saharan Africa,113,...,24.4,4.459,1.02416,25.2,101,4.829,1.054699,24.1,105,4.724
127,Zambia,ZMB,204.0,13.3,7.3,10.20,8.7,Zambia,Sub-Saharan Africa,85,...,8.5,4.795,0.61202,8.5,116,4.514,0.636407,8.1,125,4.377
128,Zimbabwe,ZWE,331.4,22.2,12.8,16.57,18.0,Zimbabwe,Sub-Saharan Africa,115,...,16.8,4.193,0.35041,15.0,138,3.875,0.375847,14.0,144,3.692

In [56]:
countries = pd.read_csv ('countries latlong.csv')
countries

    country   latitude  longitude                  name
0        AD  42.546245   1.601554               Andorra
1        AE  23.424076  53.847818  United Arab Emirates
2        AF  33.939110  67.709953           Afghanistan
3        AG  17.060816 -61.796428   Antigua and Barbuda
4        AI  18.220554 -63.068615              Anguilla
..      ...        ...        ...                   ...
240      YE  15.552727  48.516388                 Yemen
241      YT -12.827500  45.166244               Mayotte
242      ZA -30.559482  22.937506          South Africa
243      ZM -13.133897  27.849332                Zambia
244      ZW -19.015438  29.154857              Zimbabwe

[245 rows x 4 columns]

In [57]:
countries.rename(columns = {'name': 'Country Name'}, inplace=True)
countries

    country   latitude  longitude          Country Name
0        AD  42.546245   1.601554               Andorra
1        AE  23.424076  53.847818  United Arab Emirates
2        AF  33.939110  67.709953           Afghanistan
3        AG  17.060816 -61.796428   Antigua and Barbuda
4        AI  18.220554 -63.068615              Anguilla
..      ...        ...        ...                   ...
240      YE  15.552727  48.516388                 Yemen
241      YT -12.827500  45.166244               Mayotte
242      ZA -30.559482  22.937506          South Africa
243      ZM -13.133897  27.849332                Zambia
244      ZW -19.015438  29.154857              Zimbabwe

[245 rows x 4 columns]

In [58]:
country_latlong = pd.merge(clean_for_weather, countries, on='Country Name')
country_latlong

,Country Name,Country Code,Total,Max,Min,Avg,2015,Country_15,Region_15,Happiness Rank_15,...,2017,Happiness.Rank_17,Happiness.Score_17,Economy..GDP.per.Capita._17,2018,Overall rank_18,Score_18,country,latitude,longitude
0,Afghanistan,AFG,89.2,5.0,3.9,4.46,4.0,Afghanistan,Southern Asia,153,...,4.1,141,3.794,0.401477,4.1,145,3.632,AF,33.939110,67.709953
1,Angola,AGO,146.2,8.8,6.0,7.31,6.5,Angola,Sub-Saharan Africa,137,...,6.0,140,3.795,0.858428,6.0,142,3.795,AO,-11.202692,17.873887
2,Albania,ALB,117.5,8.2,4.3,5.88,4.8,Albania,Central and Eastern Europe,95,...,4.7,109,4.644,0.996193,4.5,112,4.586,AL,41.153332,20.168331
3,United Arab Emirates,ARE,151.4,8.6,5.6,7.57,6.5,United Arab Emirates,Middle East and Northern Africa,20,...,5.6,21,6.648,1.626343,6.0,20,6.774,AE,23.424076,53.847818
4,Argentina,ARG,177.8,10.3,8.3,8.89,8.3,Argentina,Latin America and Caribbean,30,...,8.9,24,6.599,1.185295,9.2,29,6.388,AR,-38.416097,-63.616672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,Uzbekistan,UZB,177.5,10.1,8.0,8.88,9.2,Uzbekistan,Central and Eastern Europe,44,...,8.8,47,5.971,0.786441,8.6,44,6.096,UZ,41.377491,64.585262
124,Vietnam,VNM,138.8,7.7,6.1,6.94,7.7,Vietnam,Southeastern Asia,75,...,7.7,94,5.074,0.788548,7.6,95,5.103,VN,14.058324,108.277199
125,South Africa,ZAF,484.8,26.7,22.4,24.24,24.5,South Africa,Sub-Saharan Africa,113,...,25.2,101,4.829,1.054699,24.1,105,4.724,ZA,-30.559482,22.937506
126,Zambia,ZMB,204.0,13.3,7.3,10.20,8.7,Zambia,Sub-Saharan Africa,85,...,8.5,116,4.514,0.636407,8.1,125,4.377,ZM,-13.133897,27.849332
127,Zimbabwe,ZWE,331.4,22.2,12.8,16.57,18.0,Zimbabwe,Sub-Saharan Africa,115,...,15.0,138,3.875,0.375847,14.0,144,3.692,ZW,-19.015438,29.154857

In [59]:
country_latlong.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128 entries, 0 to 127
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Country Name                 128 non-null    object
 1   Country Code                 128 non-null    object
 2   Total                        128 non-null    float64
 3   Max                          128 non-null    float64
 4   Min                          128 non-null    float64
 5   Avg                          128 non-null    float64
 6   2015                         128 non-null    float64
 7   Country_15                   128 non-null    object
 8   Region_15                    128 non-null    object
 9   Happiness Rank_15            128 non-null    int64
 10  Happiness Score_15           128 non-null    float64
 11  2016                         128 non-null    float64
 12  Happiness Score_16           128 non-null    float64
 13  Economy (GDP per Capita)_16  128 non-null    float64
 14  2017                         128 non-null    float64
 15  Happiness.Rank_17            128 non-null    int64
 16  Happiness.Score_17           128 non-null    float64
 17  Economy..GDP.per.Capita._17  128 non-null    float64
 18  2018                         128 non-null    float64
 19  Overall rank_18              128 non-null    int64
 20  Score_18                     128 non-null    float64
 21  country                      128 non-null    object
 22  latitude                     128 non-null    float64
 23  longitude                    128 non-null    float64
dtypes: float64(16), int64(3), object(5)
memory usage: 25.0+ KB

In [60]:

query_url = f'http://history.openweathermap.org/data/2.5/history/city?lat={lat}&lon={lon}&type=hour&start={start}&end={end}&appid={api_key}'

In [61]:
#lat = country_latlong['latitude'][0]
#lon = country_latlong['longitude'][0]

for index, row in country_latlong.iterrows():
    start = '1519934400'
    end = '1519938000'
    lat = country_latlong['latitude']
    lon = country_latlong['longitude']
    
    try:
        response = requests.get(query_url)
        response = response.json()
        data = response.read()
    except Exception:
          continue

In [62]:
print(query_url)

http://history.openweathermap.org/data/2.5/history/city?lat=0      33.939110
1     -11.202692
2      41.153332
3      23.424076
4     -38.416097
         ...
123    41.377491
124    14.058324
125   -30.559482
126   -13.133897
127   -19.015438
Name: latitude, Length: 128, dtype: float64&lon=0       67.709953
1       17.873887
2       20.168331
3       53.847818
4      -63.616672
          ...
123     64.585262
124    108.277199
125     22.937506
126     27.849332
127     29.154857
Name: longitude, Length: 128, dtype: float64&type=hour&start=1519934400&end=1519938000&appid=ead1df06fb8c224fc06062e611f05005